Repository mprestonsparks/DEAN, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dean-maintainers, @orchestration-team, @integration-team, @frontend-team, @security-team, @devops-team, @documentation-team, @qa-team

Update LICENSE.md
  LICENSE.md
Owners: @documentation-team

Add automated environment setup scripts and documentation
  .gitignore
  docs/deployment/ENVIRONMENT_SETUP.md
Owners: @dean-maintainers, @documentation-team

Fix orchestrator deployment: add missing requirements.txt and main.py
  src/orchestration/health_check.py
  src/orchestration/main.py
  src/orchestration/requirements.txt
Owners: @orchestration-team, @dean-maintainers

Add nginx configuration and deployment improvements
  docker-compose.no-nginx.yml
  docs/deployment/POST_DEPLOYMENT.md
  nginx/.gitkeep
  nginx/nginx.dev.conf
  nginx/nginx.prod.conf
  scripts/generate_ssl_certs.sh
  start_dean_windows.ps1
Owners: @devops-team, @documentation-team, @dean-maintainers

Add PowerShell scripts for nginx SSL certificate management
  docs/deployment/POST_DEPLOYMENT.md
  scripts/convert_pfx_to_pem.ps1
  scripts/setup_nginx_certs.ps1
Owners: @documentation-team, @devops-team, @dean-maintainers

Fix: Database initialization and CI/CD pipeline configuration
  DEBUG_REPORT.md
  DEPLOYMENT_FIX_SUMMARY.md
  docker-compose.prod.yml
  scripts/test_db_connection.py
Owners: @documentation-team, @devops-team, @dean-maintainers

Add postgres initialization scripts
  postgres/00-create-schema.sql
  postgres/01-init-database.sql
  postgres/02-init-extensions.sql
Owners: @dean-maintainers

fix: Standardize database name to dean_production
  DATABASE_CONFIG_FIX_SUMMARY.md
  DATABASE_CONFIG_INVESTIGATION.md
  scripts/test_db_connection.py
  scripts/verify_db_config.py
  src/core/__init__.py
  src/core/database.py
Owners: @documentation-team, @devops-team, @dean-maintainers

fix: Add runtime database configuration diagnostic and correction scripts
  RUNTIME_FIX_DOCUMENTATION.md
  scripts/fix_runtime_database_config.ps1
  scripts/verify_docker_database.sh
Owners: @documentation-team, @devops-team, @dean-maintainers

fix: Resolve database connection configuration issues
  DATABASE_CONNECTION_RESOLUTION.md
  DATABASE_FIX_APPLIED.md
  docker-compose.prod.yml
  scripts/verify_database_fix.py
  src/core/database.py
Owners: @documentation-team, @devops-team, @dean-maintainers

feat: Comprehensive configuration audit and standardization
  .github/workflows/configuration-validation.yml
  .pre-commit-config.yaml
  CONFIGURATION_AUDIT_REPORT.md
  ENVIRONMENT_VARIABLES.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/deployment/DEPLOYMENT_GUIDE_COMPREHENSIVE.md
  nginx/nginx.prod.conf
  scripts/check_bom.py
  scripts/manage_ssl_certificates.py
  scripts/pre_deployment_check.py
  scripts/validate_environment.py
Owners: @devops-team, @dean-maintainers, @documentation-team

feat: Add comprehensive deployment validation and documentation
  .actrc
  .github/workflows/README.md
  .github/workflows/deploy.yml
  .github/workflows/event.json
  .github/workflows/validation.yml
  .gitignore
  .pre-commit-config.yaml
  DEPLOYMENT_GUIDE_IMPROVED.md
  DEPLOYMENT_STATUS_REPORT.md
  README.md
  docker-compose.prod.improved.yml
  docs/DEPLOYMENT_CHECKLIST.md
  docs/TROUBLESHOOTING.md
  docs/development/GITHUB_ACTIONS_LOCAL_TESTING.md
  monitoring/docker-compose.monitoring.yml
  monitoring/prometheus.yml
  quick_start.sh
  scripts/deploy/check_ports.sh
  scripts/deploy/deploy_dean_system.sh
  scripts/deploy/setup_ssl_certificates.sh
  scripts/deploy/validate_environment.sh
  scripts/init-postgres.sh
  scripts/setup_ssl.ps1
  scripts/test_github_actions_locally.sh
  scripts/troubleshoot.sh
  scripts/validate_deployment.ps1
  scripts/verify_deployment_fixes.ps1
  test_deployment_ready.sh
  wait-for-it.sh
Owners: @dean-maintainers, @devops-team, @documentation-team

Add repository-specific CLAUDE.md guidance
  CLAUDE.md
Owners: @documentation-team

feat: Complete production alignment with graceful degradation
  DEAN_DEPENDENCY_SUMMARY.md
  DEAN_SERVICE_DEPENDENCIES.md
  Dockerfile
  docs/DEPLOYMENT_GUIDE.md
  docs/migration_guide.md
  src/dean_orchestration/__init__.py
  src/dean_orchestration/server.py
  src/integration/database_client.py
  src/integration/infra_client.py
  src/integration/monitoring_client.py
  src/integration/redis_cache_client.py
  src/orchestration/Dockerfile.prod
  src/orchestration/__init__.py
  src/orchestration/coordination/evolution_trial.py
  src/orchestration/deployment/system_deployer.py
  src/orchestration/main.py
  src/orchestration/repository_manager.py
  src/orchestration/unified_server_production.py
  src/orchestration/unified_server_simple.py
Owners: @documentation-team, @dean-maintainers, @integration-team, @orchestration-team

feat: Add deployment pipeline automation scripts
  scripts/initialize_deployment_pipeline.ps1
  scripts/monitor_deployment.ps1
  scripts/rollback_deployment.ps1
Owners: @devops-team, @dean-maintainers

feat: Add operational tools and monitoring infrastructure
  EMERGENCY_PROCEDURES.md
  OPERATIONS_HANDOVER.md
  README.md
  deploy_to_windows.sh
  monitor_deployment.sh
  monitoring/README.md
  monitoring/alertmanager.yml
  monitoring/alerts.yml
  monitoring/deploy_monitoring.ps1
  monitoring/docker-compose.monitoring.yml
  monitoring/grafana/dashboards/dean-overview.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/loki-config.yml
  monitoring/prometheus.yml
  monitoring/promtail-config.yml
  review_dependabot_prs.sh
  scripts/deployment_dry_run.ps1
  scripts/final_production_validation.ps1
  scripts/setup-dean-directories.ps1
  scripts/verify_deployment.ps1
Owners: @documentation-team, @dean-maintainers, @devops-team

docs: Add remote_exec MCP tool documentation to CLAUDE.md
  CLAUDE.md
Owners: @documentation-team

docs: Update operational verification with successful connectivity restoration
  CONNECTIVITY_DIAGNOSIS.md
  DEAN_OPERATIONAL_VERIFICATION.md
Owners: @documentation-team

feat: Activate DEAN core monitoring and secure infrastructure
  MONITORING_ACTIVATION_REPORT.md
Owners: @documentation-team

docs: Add comprehensive DEAN implementation discovery report
  DEAN_DISCOVERY_REPORT.md
Owners: @documentation-team

feat: Add evolution trial management and web dashboard
  docs/evolution_trial_api.md
  docs/web_dashboard_guide.md
  src/interfaces/web_server.py
  src/orchestration/evolution_trials.py
  src/orchestration/orchestration_server.py
  src/orchestration/workflow_executor.py
  tests/mock_services.py
  tests/test_evolution_integration.py
  web/README.md
  web/css/dashboard.css
  web/index.html
  web/js/api-client.js
  web/js/charts.js
  web/js/trial-manager.js
  web/js/websocket-client.js
Owners: @documentation-team, @frontend-team, @dean-maintainers, @orchestration-team, @qa-team

Implement core DEAN business logic with real computation
  IMPLEMENTATION_REPORT.md
  scripts/test_token_economy.sh
  validation/prove_functionality.py
Owners: @documentation-team, @devops-team, @dean-maintainers

Add business logic verification and integration proof
  BUSINESS_LOGIC_VERIFICATION.md
  validation/integration_proof.py
Owners: @documentation-team, @dean-maintainers

Add deployment verification and integration tests
  integration_proof_results.json
  integration_test_results.json
  scripts/deploy_dean_local.sh
  validation/business_logic_proof.py
  validation/e2e_integration_test.py
  validation/final_integration_report.json
  validation/final_integration_test.py
  validation/fixed_integration_test.py
  validation/integration_test_report.json
  validation/run_evolution_demo.py
  validation/simple_integration_test.py
  validation/test_actual_endpoints.py
Owners: @dean-maintainers, @devops-team

Fix integration issues and demonstrate evolution
  validation/complete_evolution_cycle.py
  validation/create_agent_and_allocate.py
  validation/evolution_results.json
  validation/evolution_simulation.py
  validation/final_integration_test_v2.py
  validation/test_token_allocation.py
  validation/test_token_allocation_fixed.py
Owners: @dean-maintainers

.github/CODEOWNERS:

# DEAN System Code Owners
# This file defines who is responsible for code reviews in different parts of the repository

# Default owners for everything in the repo
* @dean-maintainers

# Core orchestration components
/src/orchestration/ @orchestration-team @dean-maintainers
/src/integration/ @integration-team @dean-maintainers
/src/interfaces/ @frontend-team @dean-maintainers

# Authentication and security
/src/auth/ @security-team @dean-maintainers
/tests/security/ @security-team

# Configuration and deployment
/configs/ @devops-team @dean-maintainers
/scripts/ @devops-team @dean-maintainers
/docker-compose*.yml @devops-team

# Documentation
/docs/ @documentation-team @dean-maintainers
*.md @documentation-team

# Testing
/tests/ @qa-team @dean-maintainers

# CI/CD
/.github/ @devops-team @dean-maintainers

# Dependencies
/requirements*.txt @security-team @dean-maintainers
/pyproject.toml @dean-maintainers
